.Rproj.user
.Rhistory
.RData
.Ruserdata
*.o
/src/babelmixr2.so
babelmixr2.Rproj
/src/Makevars
inst/doc
*.Rout
/docs/
/vignettes/pk.turnover.emax4-nonmem/pk.turnover.emax4.qs
/vignettes/pk.turnover.emax3-nonmem/pk.turnover.emax3-rounding.qs
/vignettes/articles/pk.turnover.emax3-nonmem/pk.turnover.emax3-rounding.qs
/vignettes/articles/pk.turnover.emax4-nonmem/pk.turnover.emax4.qs
/src/Makevars.win
docs
